.bg-main,
.bg-link {
  --main: #{$main-dark};
}

.content ul > li:before,
.collapsible__item-description ul > li:before,
.description ul > li:before,
.content ol > li:before,
.collapsible__item-description ol > li:before,
.description ol > li:before {
  content: "-";
}

.menu__button i {
  font-size: 1.25em;
  line-height: 1.25rem;
  transform: translateY(.2em);
}

.contact__form-item {
  display: flex;
  flex-direction: column;
}
.contact__form-hint {
  order: -1;
  margin-block: 0 1em;
}
.text-sm {
  font-size: .75em;
}
.mb {
  margin-bottom: 1em !important;
}

#body-inicio #header {
  @mixin show-from($delay) { animation: show-from .5s (.25 + .25s * $delay) both; }
  .column--item-1 #icon-ouroboros { @include show-from(0); --show-from: scale(.5) rotate(-360deg); transform-origin: center; overflow: visible; }
  .column--item-1 #icon-tm        { @include show-from(1); }
  .column--item-1 .section__title { @include show-from(2); }
  .column--item-1 .subtitle       { @include show-from(3); }
  .column--item-2 .image          { @include show-from(4); --show-from: perspective(50em) rotateY(90deg); }
  .column--item-2 button          { @include show-from(5); }
  .columns {
    --columns-gap: 5;
  }
  .section__title h2 {
    font-size: 4.125em;
    color: var(--main);
  }
}

/*! purgecss start ignore */
#map {
  width: 100%;
  height: calc(100svh - 10em);
  border-radius: $radius;
  filter: drop-shadow($shadow);
  // container: map / size;
  .leaflet-control-zoom a {
    font-family: unset;
    font-weight: unset;
    // line-height: unset;
    font-size: 1rem;
  }
  .leaflet-marker-icon,
  .leaflet-marker-shadow {
    transition: transform .3s;
  }
  .leaflet-popup-content {
    width: max-content;
    max-width: calc(100vw - 6.75em);
    max-height: calc(100svh - 10em - 100px);
    // max-height: calc(100cqh - 100px);
    overflow-y: auto;
    h3 {
      transform: translateY(0.125em);
      margin-block: 1em 0;
      &:first-child {
        margin-top: .25em;
      }
    }
    a {
      @include font-base;
    }
    .map-data {
      padding-left: 1.75em;
      text-indent: -1.75em;
      margin: .5em 0;
      svg {
        margin-left: 0;
        font-size: 1.25em;
        vertical-align: -.125em;
      }
    }
    .map-list {
      display: inline-block;
      padding-left: 1.25em;
      text-indent: -1.25em;
      svg:first-child {
        margin: 0;
      }
    }
  }
}
/*! purgecss end ignore */